@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

$bg: #73B6E6;
$bg-alpha: #c5bcab;
$bg-grey: rgba(223,223,223,1);

$font: 14px Roboto Condensed;
$fontHeader: 18px Roboto Condensed;

$padding: 12px 14px 12px 14px;
$paddingLess: 6px 8px 6px 8px;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/**
 * Search
 */

@mixin style($bg-alpha) {
	font: $font;
	display: inline-block;
	background: $bg-alpha;
	color: white;
	cursor: pointer;
	text-align: center;
	&:hover {
		background: #9CC1DC !important;
	}
}

#search {
	position: fixed;
	top: 0px;
	width: 335px;
	font-size: 0;
	padding: 0px;
	z-index: 15;
	clear: both;

	-webkit-user-select: none;
	-moz-user-select: none;   
	-ms-user-select: none;    
	user-select: none;        

	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;

	.tab {
		padding: $padding;
		width: 137px;

		@include style(#c5bcab);
	}

	.active {
		background: $bg !important;
	}

	.search-field {
		width: 307px;
		font: $font;
		display: block;
		padding: 11px 11px 11px 12px;
		outline: none;
		border: 0px;
	}

	.invalid {
		background: $bg-alpha;
	}

	.autocomplete {
		position: absolute;
		z-index: 10;
		font: $font;
		width: 330px;
		cursor: pointer;
		background: white;
		div {
			padding: $paddingLess;
			border-bottom: 1px solid $bg-alpha;
			&:hover {
				background: $bg-grey;
			}
		}
	}

	.tags {
		position: relative;
		width: 335px;
		font: $font;
		padding: 0px;
		z-index: 5;

		visibility: hidden;
		opacity: 0;
		height: 0px;

		-webkit-transition: all linear 0.2s;
		transition: all linear 0.2s;
	}

	.tags.slidedown {
		visibility: visible;
		opacity: 1;
		height: 87px;
	}

	.tag {
		padding: $paddingLess;
		width: 94px;
		border-bottom: 1px solid #E4E2DF;

		@include style(#D2CAB9);
	}

	.submits a {
		width: 137px;
		padding: $padding;
		@include style(#BBB7AE);
	}
}

#search.slide {
	margin-left: 330px;
}

/**
 * Events
 */

#events {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 330px;
	overflow-y: hidden;
	overflow-x: hidden;
	font: $font;
	color: white;
	z-index: 6;

	-webkit-user-select: none;
	-moz-user-select: none;   
	-ms-user-select: none;    
	user-select: none;  
}

.event-item {
	position: relative;
	height: 100px;
	border-bottom: 1px solid $bg-alpha;
	background-color: $bg-alpha;
	&:hover {
		background: $bg;
		cursor: pointer;
	}

	.artist-pic {
		width: 100px;
		height: 100px;
		float: left;
	}

	.artist-data {
		display: inline-block;
		padding: 3px 0px 0px 10px;
		font: $font;
		width: 180px;
	}

	&.selected {
		background: #95B2C7 !important;
	}

	-webkit-user-select: none;
	-moz-user-select: none;   
	-ms-user-select: none;    
	user-select: none;
}

/**
 * Map
 */

#map {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
}

.dot {
	border-radius: 50%;
}

.leaflet-container {
	color: white !important;
}

.leaflet-popup-content-wrapper {
	border-radius: 0 !important;
	background: $bg !important;
}

.leaflet-popup-content {
	padding: 0px !important;
	width: 285px !important;
	height: 100px;
}

.leaflet-popup-tip {
	border-top: 10px solid $bg !important;
}

::selection {
	background: #ffb7b7;
}

#page-controls {
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 25;
	a {
		display: inline-block;
		width: 50px;
		height: 50px;
		background: $bg-alpha;
		i {
			padding: 10px;
			color: white;
		}
		&:hover {
			background: $bg;
		}
	}
}