<!DOCTYPE html>
<html ng-app="ontour">
    <head>
        <title>Ontour.im | Музыкальный тур</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta charset="utf-8" />
        <meta name="description" content="Запланируй свой музыкальный тур" />
        
        <link rel="icon" type="image/png" href="img/ontour-ico.png" />
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/all.min.css" />
        <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css" />
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
    </head>

    <body map>
        <div ng-controller="SearchController">
            <search-bar></search-bar>
            <events></events>
        </div>
        
        <div id="map"></div>
        
        <!-- <div id="about"> Ontour {{ontourDate}} </div> -->
        
        <div id="page-controls">
            <a href="/welcome"><i class="fa fa-home fa-2x"></i></a>
        </div>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/ui-router/release/angular-ui-router.min.js"></script>
        <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>
        <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
        <script src="bower_components/angular-md5/angular-md5.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>