<!DOCTYPE html>
<html ng-app="ontour">
    <head>
        <title>Ontour.im | Музыкальный тур</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta charset="utf-8" />
        <meta name="description" content="Запланируй свой музыкальный тур" />
        
        <link rel="icon" type="image/png" href="img/ontour-ico.png" />
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/all.min.css" />
        <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css" />
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
    </head>

    <body map>
        
        <div ng-controller="SearchController">
            
            <search-bar></search-bar>

            <div id="events" event>
                <div class="event-item"
                     ng-repeat="event in events"
                     ng-class="{'selected' : event.selected || event.focused}"
                     ng-click="selectEvent(event)"
                     ng-mouseenter="showPopup(event, 1)"
                     ng-mouseleave="hidePopup(event)"
                     ng-cloak>
                     <img ng-src="{{event.image[3]['#text']}}" class="artist-pic" />
                     <div class="artist-data">
                        {{event.date}} <br/> 
                        {{event.artists.headliner}} <br/><br/> 
                        {{event.venue.name}} <br/> 
                        {{event.venue.location.city}} {{event.venue. location.country}} <br/>
                     </div>
                </div>
                <div class="more"
                     ng-click="nextPage()"
                     ng-show="events.length && pages.page < pages.totalPages"
                     ng-cloak>
                     {{pages.page}}/{{pages.totalPages}} Ещё <i ng-cloak ng-show="searchStatus" class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        
        </div>
        
        <div id="map"></div>
        
        <div id="about"> Ontour {{ontourDate}} </div>
        
        <div id="page-controls">
            <a href="/welcome"><i class="fa fa-home fa-2x"></i></a>
        </div>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/ui-router/release/angular-ui-router.min.js"></script>
        <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>
        <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>