doctype html
html(data-ng-app="ontour")
	head
		meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
		meta(charset="utf-8")
		title Ontour.im | Музыкальный тур
		meta(name="description", content="Запланируй свой музыкальный тур")

		link(rel="icon", type="image/png", href="img/ontour-ico.png")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel='stylesheet', href='/css/all.min.css')
		link(rel="stylesheet", href="lib/font-awesome/css/font-awesome.min.css")
		
	body(ng-app="ontour")
		section(id="landing-pic")