include head.jade

section(id="landing-head")
	a(href="/welcome") Главная
	a(id="sign-in", href="/signin") Войти
	a(id="sign-up", href="/signup") Регистрация
	a(id="try", href="/") Карта

section(id="landing-actions")
	div(class="landing-words") Следи за концертами и турами своих<br/> любимых групп
	a(id="sign-in", href="/signin") Войти
	a(id="sign-up", href="/signup") Регистрация
	a(id="try", href="/") Карта

include footer.jade
