<% include head.ejs %>

<section id="landing-head">
	<a href="/welcome">Главная</a>
	<a id="sign-in" href="/signin">Войти</a>
	<a id="sign-up" href="/signup">Регистрация</a>
	<a id="try" href="/">Карта</a>
</section>

<section id="landing-actions">
	<div class="landing-words">Следи за концертами и турами своих<br/> любимых групп</div>
	<a id="sign-in" href="/signin">Войти</a>
	<a id="sign-up" href="/signup">Регистрация</a>
	<a id="try" href="/">Карта</a>
</section>

<% include footer.ejs %>
