<div id="events" infinite-scroll="nextPage()" 
                 infinite-scroll-distance="2">
    <div class="event-item"
         quick-ng-repeat="event in events"
         quick-repeat-list="events"
         ng-class="{'selected' : event.selected || event.focused}"
         ng-click="selectEvent(event)"
         ng-mouseenter="showPopup(event, 1)"
         ng-mouseleave="hidePopup(event)"
         ng-cloak>
         <img ng-src="{{event.image[3]['#text']}}" class="artist-pic" />
         <div class="artist-data">
            {{event.date}} <br/> 
            {{event.artists.headliner}} <br/><br/> 
            {{event.venue.name}} <br/> 
            {{event.venue.location.city}} {{event.venue. location.country}} <br/>
         </div>
    </div>
</div>